# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [3]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])

In [4]:
# Set the date column as the DataFrame index
df.set_index('date')

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

In [ ]:
# Drop the date column
df.head()

### Compare June and December data across all years

In [17]:
from scipy import stats

In [10]:
# Filter data for desired months
June = df[df['date'].dt.month == 6]
December = df[df['date'].dt.month == 12]

In [13]:
# Identify the average temperature for June
June_ave = June['tobs'].mean()
June_ave

74.94411764705882

In [14]:
# Identify the average temperature for December
Dec_ave = December['tobs'].mean()
Dec_ave

71.04152933421226

In [19]:
# Create collections of temperature data
June_temp = June['tobs'].tolist()
Dec_temp = December['tobs'].tolist()

In [23]:
# Run paired t-test
stats.ttest_ind(June_temp, Dec_temp)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

### Analysis

In [ ]:
#I used an unpaired/independent t-test because the temperature data was collected at two different timepoints.
#The results indicate that there is a significant difference between temperatures in June and December.